<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
</head>
<body>
    <div id="myChart" style="width: 50vw; height: 50vh; margin-left: 25vw;"></div>
    <script>
        const myChart = echarts.init(document.getElementById('myChart'));

        const option = {
            series: [
                {
                    type: 'map',
                    map: 'china'
                }
            ],
            series: [
                {
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: [{
                        name: '点的名称',
                        value: [116, 24]
                    }],
                    itemStyle: {
                        color: 'red',
                        borderColor: '#fff',
                        borderWidth: 1
                    },
                    label: {
                        show: true,
                        formatter: '{b}',
                        position: 'right'
                    }
                }
            ]
        };
        myChart.setOption(option);
    </script>
    
</body>
</html>